* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #013b45;
  --secondary-color: #e3cb90;
  --mygrey: #1f1f1f;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--mygrey);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  padding: 20px;
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.cocktail-card {
  padding: 20px;
  background-color: var(--primary-color);
  margin: 70px;
  max-width: 1000px;
  position: relative;
  min-width: 700px;
}

.cocktail-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cocktail-card-top img {
  width: 100%;
}

.chevron-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  margin-left: 10px;
}

.chevron-container:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cocktail-card-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0 0 30px;
  color: white;
}

.cocktail-image-container {
  max-width: 50%;
  min-width: 40%;
}

.cocktail-image-container img {
  width: 100%;
  border-radius: 10px;
}

.cocktail-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 30px 30px 30px;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cocktail-info li {
  margin-left: 20px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.edit-button {
  background-color: #e3cb90;
  color: #013b45;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 70%;
  align-self: center;
  margin-top: 20px;
  max-width: 300px;
}

.edit-button:hover {
  background-color: #f2a154;
}
