* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #013b45;
  --secondary-color: #e3cb90;
  --mygrey: #1f1f1f;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--mygrey);
  color: var(--secondary-color);
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: fit-content;
  margin: 30vh auto;
  width: 50%;
  padding: 20px;
  min-width: 400px;
  max-width: 500px;
  background-color: var(--primary-color);
}

.login-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 1.2rem;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.ask-account {
  display: flex;
  justify-content: center;
  gap: 10px;
}

a {
  color: white;
}